<ul class="calender-table">
    <li>
        01:00 AM
    </li>
    <li>
       <app-event-card [style]="'gray'"></app-event-card>
    </li>
    <li>
        <app-event-card [style]="'colored'" [background]="'#5062FF'"></app-event-card>
    </li>
    <li>
        <app-event-card [style]="'gray'"></app-event-card>
    </li>
    <li></li>
    <li></li>
    <li>
        <app-event-card [style]="'colored'" [background]="'#5062FF'"></app-event-card>
    </li>
    <li>
       
    </li>
    <li></li>
</ul>
<ul class="calender-table">
    <li>
        02:00 AM
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li>
       <app-event-card [style]="'gray'"></app-event-card>
    </li>
    <li>
        <app-event-card [style]="'colored'" [background]="'#5062FF'"></app-event-card>
    </li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<ul class="calender-table">
    <li>
        03:00 AM
    </li>
    <li></li>
    <li>
        <app-event-card [style]="'colored'" [background]="'#FFAB52'"></app-event-card>
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li>
       <app-event-card [style]="'gray'"></app-event-card>
    </li>
    <li></li>
</ul>
<ul class="calender-table">
    <li>
        04:00 AM
    </li>
    <li></li>
    <li></li>
    <li>
       <app-event-card [style]="'colored'" [background]="'#5062FF'"></app-event-card>
    </li>
    <li>
        <app-event-card [style]="'colored'" [background]="'#FFAB52'"></app-event-card>
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>