<div class="inner-contaier">
    <div class="calender-top-section">
        <div class="filter-section position-relative d-flex align-items-center justify-content-center">
            <div class="date-range d-flex align-items-center">
                <div class="date-range__arrow date-range__arrow--left cp">
                    <img src="assets/images/arrow-left.svg" alt="arrow-left">
                </div>
                <p *ngIf="appliedFilter.id == durationFilter.daily.id" class="mb-0 date-range__date">{{ bookPerScheduleService.activeFilterDate ? (bookPerScheduleService.activeFilterDate | findMonth ) : 'Loading...'}} {{ bookPerScheduleService.activeFilterDate | findDate}}</p>
                <p *ngIf="appliedFilter.id == durationFilter.weekly.id" class="mb-0 date-range__date">{{ bookPerScheduleService.activeWeeklyFilterRange.startDate | findMonth }} {{ bookPerScheduleService.activeWeeklyFilterRange.startDate | findDate}} - {{ bookPerScheduleService.activeWeeklyFilterRange.endDate | findMonth }} {{ bookPerScheduleService.activeWeeklyFilterRange.endDate | findDate }}</p>
                <p *ngIf="appliedFilter.id == durationFilter.monthly.id" class="mb-0 date-range__date">{{ bookPerScheduleService.activeMonthlyFilterRange.startDate | findMonth }} {{ bookPerScheduleService.activeMonthlyFilterRange.startDate | findDate}} - {{ bookPerScheduleService.activeMonthlyFilterRange.endDate | findMonth }} {{ bookPerScheduleService.activeMonthlyFilterRange.endDate | findDate }}</p>
                <div class="date-range__arrow date-range__arrow--right cp">
                    <img src="assets/images/arrow-right.svg" alt="arrow-right">
                </div>
            </div>

            <div class="filters d-flex align-items-center">
                <div class="filters__items">
                    <div class="dropdown filter-dropdown">
                        <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Select {{ appliedFilter.label }} <img src="assets/images/arrow-down-white.svg"
                                alt="arrow-down">
                        </button>
                        <div class="dropdown-menu default-shadow dropdown-menu--calender" aria-labelledby="dropdownMenuButton"
                            (click)="openDropdown($event)">
                            <div class="filters__items">
                                <button (click)="openDropdown($event)" class="btn btn-outline-primary"
                                    [matMenuTriggerFor]="menu1">{{ appliedFilter.label }}<img
                                        src="assets/images/arrow-down-primary.svg" alt="arrow-down"></button>
                                <mat-menu #menu1="matMenu" xPosition="before">
                                    <button *ngFor="let filter of totalFilterList;" mat-menu-item
                                        (click)="onSelectDurationFilter($event, menu1, filter)">{{ filter.label
                                        }}</button>
                                </mat-menu>
                            </div>
                            <mat-calendar></mat-calendar>
                        </div>
                    </div>
                </div>
                <div class="filters__items">
                    <button class="btn btn-outline-primary" [matMenuTriggerFor]="menu">Filter <img
                            src="assets/images/arrow-down-primary.svg" alt="arrow-down"></button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngFor="let filter of locationFilterList;">{{ filter.heading }}</button>
                    </mat-menu>
                </div>

            </div>
        </div>
        <app-date-range-slider [appliedFilter]="appliedFilter" [activeBookingEventDetails]="activeBookingEventDetails"></app-date-range-slider>
    </div>
    
    <!-- For Day -->
    <app-calender-day *ngIf="(appliedFilter.id == durationFilter.daily.id)"
    [activeBookingEventDetails]="activeBookingEventDetails" [bookEventColourDetails]="bookEventColourDetails">
    </app-calender-day>
    
    <!-- For Week -->
    <app-calender-week *ngIf="(appliedFilter.id == durationFilter.weekly.id)"
    [activeBookingEventDetails]="activeBookingEventDetails" [bookEventColourDetails]="bookEventColourDetails"></app-calender-week>
    
    <!-- For Month -->
    <app-calender-month *ngIf="(appliedFilter.id == durationFilter.monthly.id)"
        [activeBookingEventDetails]="activeBookingEventDetails" [bookEventColourDetails]="bookEventColourDetails"></app-calender-month>

</div>