@import '../../variables';
@import '../../mixins'; 

.inner-contaier {
    padding-top: 100px;
}

.calender-top-section {
    background: $gray-300;
    padding: 20px 0 0 0;
}

.filter-section {
    min-height: 66px;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 16px;
}
.date-range {
    &__date {
        padding: 0 21px;
        font-size: $text-lg;
        font-weight: 600;
        line-height: 0;
    }
}

.filters {
    position: absolute;
    right: 10px;
    &__items {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}


.dropdown-menu {
    &--calender {
        width: 300px;
        right: 0 !important;
        left: inherit !important;
        border: none;
        background: $light;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0 0px 30px 0 rgb(0 0 0 / 30%);
    }
}