<ul class="calender-table" *ngFor="let timeSlot of TIME_SLOTS;let timeSlotIndex = index">
    <li>
        {{ timeSlot }}
    </li>
    <ng-container *ngVar="getSlotDetail(timeSlotIndex+1, getDayWiseEvent(selectedDate)) as slotDetails">
        <li class="{{ slotDetails?.eventStartTime?.duration?.HH}}-{{slotDetails?.eventStartTime?.duration?.MM}}">
            <app-event-card *ngIf="slotDetails" [slotDetails]="slotDetails" [type]="'day'"
                (click)="viewEvent(slotDetails, timeSlotIndex)"
                [style]="bookEventColourDetails[slotDetails?.eventLocationDetail?.locationId] ? 'colored': 'gray'"
                [background]="bookEventColourDetails[slotDetails?.eventLocationDetail?.locationId]">
            </app-event-card>
        </li>
        <li>
        </li>
    </ng-container>
</ul>