<div class="wave-top">
    <img src="assets/images/wave-top.svg" class="w-100">
</div>
<section class="carousel-wrapper">
    <div class="container dashboard-container">
        <div class="row">
            <div class="col-md-6">
                <ngx-slick-carousel class="carousel" 
                        #slickModal1="slick-carousel" 
                        [config]="leftSlideConfig" >
                    <div ngxSlickItem *ngFor="let slide of slides" class="slide vertical-slide">
                        <img src="{{ slide.img }}" alt="" width="100%">
                    </div>
                </ngx-slick-carousel>
            </div>
            <div class="col-md-6">
                <ngx-slick-carousel class="carousel" 
                        #slickModal2="slick-carousel" 
                        [config]="rightSlideConfig" >
                    <div ngxSlickItem *ngFor="let slide of slides" class="slide horizontal-slide" (afterChange)="afterLocationSliderChange($event)">
                        <!-- <img src="{{ slide.img }}" alt="" width="100%"> -->
                        <div style="margin-right:50px;">
                            <app-location-card></app-location-card>
                        </div>
                    </div>
                </ngx-slick-carousel>
    
            </div>
        </div>
    </div>
</section>
