<div style="padding: 0 10px;">
    <ul class="calender-table">
        <li>01:00 AM</li>
        <li><app-event-card-month initials="TM" [background]="'#5062FF'"></app-event-card-month></li>
        <li><app-event-card-month initials="TM" [background]="'#5062FF'"></app-event-card-month></li>
        <li><app-event-card-month initials="TM" [background]="'#5062FF'"></app-event-card-month></li>
        <li></li>
        <li></li>
        <li><app-event-card-month initials="TM" [background]="'#5062FF'"></app-event-card-month></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <!-- <li></li> -->
    </ul>
</div>