<div>
    <ul class="calender-table" *ngFor="let timeSlot of TIME_SLOTS;let timeSlotIndex = index">
        <li>{{ timeSlot }}</li>
        <ng-container *ngFor="let bookingEvent of activeBookingEventDetails;let dayIndex = index;">
            <ng-container *ngVar="getSlotDetail(timeSlotIndex+1, getDayWiseEvent(bookingEvent.date)) as slotDetails;">
                <li class="{{ slotDetails?.eventStartTime?.duration?.HH}}-{{slotDetails?.eventStartTime?.duration?.MM}} days-{{totalMonthDays}}">
                    <app-event-card-month *ngIf="slotDetails" 
                    [initials]="getInitital(slotDetails?.eventLocationDetail?.placeName)" 
                    [background]="bookEventColourDetails[slotDetails?.eventLocationDetail?.locationId]">
                    </app-event-card-month>
                </li>
            </ng-container>
        </ng-container>
        <li></li>
    </ul>
</div>