/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './variables';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $font;
	overflow-x: hidden;
	overflow-y: auto;
	transition: all 200ms linear;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: $font;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.container {
	max-width: 1200px;
}

::selection {
	color: #fff;
	background-color: #8167a9;
}

::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}

.section {
	position: relative;
	width: 100%;
	display: block;
}

.full-height {
	min-height: 100vh;
}

.over-hide {
	overflow: hidden;
}

h1 {
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}

h1 span {
	display: inline-block;
	transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
}

.card-shadow {
	box-shadow: 0 6px 45px 0 rgb(0 0 0 / 10%);
}

.horizontal-slide {
	padding: 0 10px;
}

.hori-carousel {
	margin-top: -20px;

	.slick-dots {
		display: flex;
		justify-content: flex-start;
		transform: translateY(-20px);
		width: 400px;

		li {
			// width: 40px;
			flex: 1;
			height: 3px;
			margin: 0;
			background: #ededed;

			button {
				bottom: -10px;

				&::before {
					content: none;
				}
			}

			&.slick-active {
				button {
					width: inherit;
					height: 4px;
					border-radius: 2px;
					background: #ae99bc;
					padding: 0;
					margin: 0;

				}
			}
		}
	}

	.slick-arrow {
		width: 30px;
		height: 30px;
		z-index: 9;
		bottom: -30px;
		position: absolute;
		top: inherit;
		cursor: pointer;

		&::before {
			content: none;
		}

		&.slick-prev {
			right: 50px;
			left: inherit;
		}

		&.slick-next {
			right: 0;
			left: inherit;
		}

		&.slick-disabled {
			opacity: 0.3;
			cursor: not-allowed;
		}
	}
}