/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './variables';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $font;
	overflow-x: hidden;
	overflow-y: auto;
	transition: all 200ms linear;
	color: #31496D;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: $font;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.container {
	max-width: 1920px;
}

::selection {
	color: #fff;
	background-color: #8167a9;
}

::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}

.section {
	position: relative;
	width: 100%;
	display: block;
}

.full-height {
	min-height: 100vh;
}

.over-hide {
	overflow: hidden;
}

h1 {
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}

h1 span {
	display: inline-block;
	transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
}

.card-shadow {
	box-shadow: 0 6px 45px 0 rgb(0 0 0 / 10%);
}

.horizontal-slide {
	padding: 0 10px;
}

.hori-carousel {
	margin-top: -20px;

	@media (max-width:767px) {
		margin-top: 0;
		padding-left: 0;
	}

	.slick-list {
		height: 507px;
	}

	.slick-dots {
		display: flex;
		justify-content: flex-start;
		transform: translateY(-20px);
		width: 400px;
		bottom: -25px;

		@media (max-width:480px) {
			width: 200px;
			overflow: hidden;
		}

		li {
			// width: 40px;
			flex: 1;
			height: 3px;
			margin: 0;
			background: #ededed;

			button {
				bottom: -10px;

				&::before {
					content: none;
				}
			}

			&.slick-active {
				button {
					width: inherit;
					height: 4px;
					border-radius: 2px;
					background: #ae99bc;
					padding: 0;
					margin: 0;

				}
			}
		}
	}

	.slick-arrow {
		width: 30px;
		height: 30px;
		border-radius: 25px;
		overflow: hidden;
		z-index: 9;
		bottom: -35px;
		position: absolute;
		top: inherit;
		cursor: pointer;

		&::before {
			content: none;
		}

		&.slick-prev {
			right: 90px;
			left: inherit;
		}

		&.slick-next {
			right: 40px;
			left: inherit;
		}

		&.slick-disabled {
			opacity: 0.3;
			cursor: not-allowed;
		}
	}
}

.carousel-wrapper {
	.rotate-3d {
		width: 320px;

		@media (max-width:320px) {
			width: 100%;
		}

		.custom-card {
			transform: none;
			transition: none;
		}
	}

	&.page-scroll-animation {
		.rotate-3d {

			.custom-card {
				transform-style: preserve-3d;
				transform: scaleX(-1) rotateY(180deg);
				transition: transform .5s;
			}
		}
	}
}

.dashboard-container {
	@media (min-width:1920px) {
		max-width: 1920px;
	}
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 4px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-track {
	background: #e5e2ad;
	border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
	background: #e5e2ad;
	border-radius: 4px;
	border: 1px solid #c5b481;

}

::-webkit-scrollbar-thumb {
	background: #fbfae3;
	border-radius: 4px;
	border: 1px solid #c5b481;
}

::-webkit-scrollbar-corner {
	border-radius: 4px;
}

::-webkit-resizer {
	display: none;
}

.btn {
	height: 48px;
	border-radius: 10px;
	&:focus {
		box-shadow: none;
	}
	img {
		margin-left: 10px;
	}
	&-primary {	
		background: $primary1;
		border-color: $primary1;
		&:hover, &:focus, &:active, &:visited {
			background: darken($color: $primary1, $amount: 20);
			border-color: darken($color: $primary1, $amount: 20);
		}
	}
	&-outline-primary {
		border-color: $primary1;
		color: $primary1;
		&:hover,&:focus, &:active, &:visited {
			background: darken($color: $primary1, $amount: 20);
			border-color: darken($color: $primary1, $amount: 20);
		}
	}
}

.cp {
	cursor: pointer;
}

.default-shadow {
	// box-shadow: 6px 0 11px 0px #ccc;
}

.filter-dropdown {
	border-radius: 25px;
	@extend .default-shadow;
}

.calender-table li {
	position: relative;
}

.calender-table li {
	&.col-1-00 {
		.card-event {
			// bottom: -100px;
		}
	}
	&.col-1-10 {
		.card-event {
			bottom: -20px;
		}
	}
	&.col-1-20 {
		.card-event {
			bottom: -60px;
		}
	}
	&.col-1-30 {
		.card-event {
			bottom: -80px;
		}
	}
	&.col-1-40 {
		.card-event {
			bottom: -100px;
		}
	}
	&.col-1-50 {
		.card-event {
			bottom: -120px;
		}
	}
	// &.col-1-60 {
	// 	.card-event {
	// 		bottom: -60px;
	// 	}
	// }
	&.col-2-00 {
		.card-event {
			bottom: -140px;
		}
	}
	&.col-2-10 {
		.card-event {
			bottom: -160px;
		}
	}

	&.col-2-20 {
		.card-event {
			bottom: -18px;
		}
	}
	&.col-2-30 {
		.card-event {
			bottom: -200px;
		}
	}
	&.col-2-40 {
		.card-event {
			bottom: -220px;
		}
	}
	&.col-2-50 {
		.card-event {
			bottom: -240px;
		}
	}

}