
<div class="custom-card">
    <div class="header-section">
        <img class="main-card-image" src="assets/images/agc6202.png">
        <div class="rating-section">
            <img src="assets/card-images/rating.png"> <span class="rating">4.8</span>
            <span class="total-review">10 Reviews</span>
        </div>
    </div>
    <div class="card-body-section">
        <div class="sub-location-section d-flex align-items-center mb-3">
            <img src="assets/card-images/location.png">
            <span>AI Haram, Egypt</span>
        </div>
        <div class="main-location-section">
            <p>Giza Pyramid</p>
        </div>
        <div class="price-section">
            $50.00
        </div>
        <div class="people-limit-section">
            <p>Limit 7 People</p>
        </div>
        <div class="bar-graph-section">
            <div class="chart-section">
                <mat-progress-bar name="gaurav" mode="determinate" value="40"></mat-progress-bar>
            </div>
            <div class="chart-label">
                <p>4 booked</p>
            </div>
        </div>
        <div class="explore-btn-section">
            <button>Explore Tour <img src="assets/card-images/right-arrow.png"></button>
        </div>
    </div>
</div>