@import '../../../../variables';
.custom-card {
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    min-height: 320px;
    background-color: white;
    .header-section {
        position: relative;
        .main-card-image {
            // height: 160px;
            width: 100%;
        }
        .rating-section {
            position: absolute;
            bottom: 10px;
            left: 10px;
            background-color: white;
            border-radius: 24px;
            font-size: 14px;
            font-weight: 400;
            padding: 5px 10px;
            img {
                display: inline-block;
            }
            .rating {
                font-weight: 600;
                color: #223f59;
                margin-left: 6px;
                margin-right: 10px;

            }        
            .total-review {
                color: #5e7488;
            }
        }
    }
    .card-body-section {
        padding: 15px;
        .sub-location-section {
            font-size: 16px;
            line-height: 26px;
            color: #66768F;
            img {
                margin-right: 10px;
            }
        }
        .main-location-section {
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;
            color: $gray700;
        }
        .price-section {
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
            margin-bottom: 5px;
            color: $gray700;
        }
        .people-limit-section {
            border-top: 1px solid #EFEFEF;
            padding-top: 5px;
            p {
                font-size: 14px;
                line-height: 21px;
                color: #66768F;
            }
        }
        .bar-graph-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            .chart-section {
                flex-basis: 100%;
                padding-right: 10px;
            }
            .chart-label {
                flex-shrink: 0;
                p {
                    padding: 0;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 500;
                    color: $secondary;
                }
            }
        }
    }
}

.explore-btn-section {
    button {
        width: 100%;
        border: none;
        background: linear-gradient(90deg, #9F1EFB 0%, #7A17BF 100%);
        border-radius: 8px;
        color: $light;
        height: 48px;
        img {
            display: inline-block;
        }
    }
}