<section class="booking-flow-baar" *ngIf="step < 4">
    <div class="container">
        <ul class="progressbar">
            <li class="active">Order Details</li>
            <li [ngClass]="step >= 2 ? 'active' : ''">About you</li>
            <li [ngClass]="step >= 3 ? 'active' : ''" class="bordered-circle">Payment</li>
            <li [ngClass]="step >= 4 ? 'active' : ''">Confirm</li>
        </ul>
        <hr>
        <div class="row" *ngIf="step === 1">
            <div class="col-md-8 col-left">
                <div class="booking-form">
                    <div class="row row--date">
                        <div class="col-md-6 t-left d-flex align-items-center">
                            <h5 class="mb-0">Select Date</h5>
                        </div>
                        <div class="col-md-6 t-right">
                            <div class="dropdown">
                                <button class="btn btn--date" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Jun 2022 <img src="assets/images/arrow-down-gray.svg" alt="arrow-down-gray">
                                </button>
                                <div class="dropdown-menu dropdown-menu--calender" aria-labelledby="dropdownMenuButton">
                                    <mat-calendar [(selected)]="selected"></mat-calendar>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="custom-slider-wrapper">
                        <a href="javascript:void(0);" class="arrow arrow--left" (click)="scrollSlide()"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        <ul class="weekly" id="horizontal_slider">
                            <li class="weekly-list active"><div class="weekly-list__inner ">Today</div></li>
                            <li class="weekly-list"><div class="weekly-list__inner "><span>THR</span><strong>02</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>FRI</span><strong>03</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>SAT</span><strong>04</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>SUN</span><strong>05</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>MON</span><strong>06</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner "><span>THR</span><strong>02</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>FRI</span><strong>03</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>SAT</span><strong>04</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>SUN</span><strong>05</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>MON</span><strong>06</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner "><span>THR</span><strong>02</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>FRI</span><strong>03</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>SAT</span><strong>04</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>SUN</span><strong>05</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>MON</span><strong>06</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner "><span>THR</span><strong>02</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>FRI</span><strong>03</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>SAT</span><strong>04</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>SUN</span><strong>05</strong></div></li>
                            <li class="weekly-list"><div class="weekly-list__inner"><span>MON</span><strong>06</strong></div></li>
                        </ul>
                        <a href="javascript:void(0);" (click)="scrollSlide(true)" class="arrow arrow--right"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                    <hr>
                    <h5 class="form_heading form_heading--time">Select Time</h5>
                    <ul class="time">
                        <li class="time-list time-list--disabled"><div class="time-list__inner">Today</div></li>
                        <li class="time-list"><div class="time-list__inner">08 - 09 AM</div></li>
                        <li class="time-list active"><div class="time-list__inner">10 - 11 AM</div></li>
                        <li class="time-list"><div class="time-list__inner">11 - 12 AM</div></li>
                        <li class="time-list"><div class="time-list__inner">04 - 06 PM</div></li>
                        <li class="time-list"><div class="time-list__inner">05 - 06 PM</div></li>
                        <li class="time-list"><div class="time-list__inner">11 - 12 AM</div></li>
                    </ul>
                    <ul class="next-btn">
                        <li><a href="javascript:void(0);" class="disabled" (click)="next()">Next</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5>Order Summary</h5>
                    <img src="assets/images/g3.png">
                    <h4>Taj Mahal - India</h4>
                    <p>Safari</p>
                    <ul>
                        <li>
                            <div class="pricing">
                                Taj Mahal - India (safari) <span>$ 22.00</span>
                            </div>
                            <div class="pricing">
                                Discount <span>$ 0.00</span>
                            </div>
                        </li>
                        <li>
                            <div class="pricing">
                                Total <strong>$22.00</strong>
                            </div>
                        </li>
                        <li class="apply-coupne"><a href="javascript:void(0);">Apply Promocode</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="step === 2">
            <div class="col-md-8 col-left">
                <div class="booking-form booking-form--contactdetails">
                    <h5>Contact Information</h5>
                    <form>
                        <div class="row">
                            <div class="col-md-6 form-field-col">
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="Enatr your first name">
                                <p class="error-msg">This field is reqiued</p>
                            </div>
                            <div class="col-md-6 form-field-col">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Enatr your last name">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6 form-field-col">
                                <label>Contact Number</label>
                                <div class="input-conuntry-dropdown">
                                    <div class="dropdown">
                                        <button class="btn btn-country" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                           <img src="assets/images/flag.svg" alt="" class="flag"> Jun 2022 <img src="assets/images/arrow-down-gray.svg" class="arrow--right" alt="arrow-down-gray"></button>
                                        <div class="dropdown-menu dropdown-menu--country" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#"><img src="assets/images/flag.svg" alt="" class="flag"> Action</a>
                                          <a class="dropdown-item" href="#"><img src="assets/images/flag.svg" alt="" class="flag">Another action</a>
                                          <a class="dropdown-item" href="#"><img src="assets/images/flag.svg" alt="" class="flag"> Something else here</a>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="989-8256-234">
                                </div>
                            </div>
                            <div class="col-md-6 form-field-col">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Enatr your email">
                            </div>
                        </div>
                        <hr>
                        <h5>Your Location</h5>
                        <div class="row loaction-input">
                            <div class="col-md-12 form-field-col">
                                <label>Address</label>
                                <input type="text" class="form-control" placeholder="124 City Road, London, EC1V 2NX">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-field-col">
                                <label>Country</label>
                                <select>
                                  <option>Enter your country</option>
                                  <option>Enter your country</option>
                                  <option>Enter your country</option>
                                  <option>Enter your country</option>
                              </select>
                            </div>
                            <div class="col-md-6 form-field-col">
                                <label>CIty</label>
                                <select>
                                  <option>Enter your city</option>
                                  <option>Enter your city</option>
                                  <option>Enter your city</option>
                                  <option>Enter your city</option>
                              </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-field-col">
                                <label>Region</label>
                                <select>
                                  <option>Enter your region</option>
                                  <option>Enter your region</option>
                                  <option>Enter your region</option>
                                  <option>Enter your region</option>
                              </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <ul class="next-btn">
                                    <li class="back-btn"><a href="javascript:void(0);" (click)="prev()">Back</a></li>
                                    <li><a href="javascript:void(0);" (click)="next()">Next</a></li>
                                </ul>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5>Order Summary</h5>
                    <img src="assets/images/g3.png">
                    <h4>Taj Mahal - India</h4>
                    <p>Safari</p>
                    <ul>
                        <li>
                            <div class="pricing">
                                Taj Mahal - India (safari) <span>$ 22.00</span>
                            </div>
                            <div class="pricing">
                                Discount <span>$ 0.00</span>
                            </div>
                        </li>
                        <li>
                            <div class="pricing">
                                Total <strong>$22.00</strong>
                            </div>
                        </li>
                        <li class="apply-coupne"><a href="javascript:void(0);">Apply Promocode</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="step === 3">
            <div class="col-md-8 col-left">
                <div class="booking-form booking-form--payment">
                   <div class="heading-custom">
                        <h5>Payment Details</h5>
                        <p class="mb-0">Enter your personal details to complete your viewing.</p>
                   </div>
                    <form>
                        <div class="row payment-card-row">
                            <div class="col-md-6">
                                <div class="active payment-type-block">
                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                    <span>Cards</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="payment-type-block">
                                    <i class="fa fa-paypal" aria-hidden="true"></i>
                                    <span>PayPal</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row card-number">
                            <div class="col">
                                <label>Card Number</label>
                                <div class="form-group--card">
                                    <input type="text" class="form-control form-control--cardnum" placeholder="9898  8256  4586  4558">
                                    <img src="assets/images/visa.png" alt="visa">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label>Card holder Name</label>
                                <input type="text" class="form-control" placeholder="Enatr your name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label>Expiry</label>
                                <input type="text" class="form-control" placeholder="Enatr card expiry date">
                            </div>
                            <div class="col">
                                <label>CVC/CVV</label>
                                <input type="text" class="form-control" placeholder="Enatr card CVC/CVV">
                            </div>
                        </div>
                        <small class="desc">By confirming payment you are approving our Terms & Conditions and acknowledging our Privacy Policy.
                        Your Payment information and test information will remain Confidential.</small>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <ul class="next-btn">
                                    <li class="back-btn"><a href="javascript:void(0);" (click)="prev()">Back</a></li>
                                    <li><a href="javascript:void(0);" (click)="next()">Confirm Payment</a></li>
                                </ul>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h5>Order Summary</h5>
                    <img src="assets/images/g3.png">
                    <h4>Taj Mahal - India</h4>
                    <p>Safari</p>
                    <ul>
                        <li>
                            <div class="pricing">
                                Taj Mahal - India (safari) <span>$ 22.00</span>
                            </div>
                            <div class="pricing">
                                Discount <span>$ 0.00</span>
                            </div>
                        </li>
                        <li>
                            <div class="pricing">
                                Total <strong>$22.00</strong>
                            </div>
                        </li>
                        <li class="apply-coupne"><a href="javascript:void(0);">Apply Promocode</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="pay-confirm-box booking-flow-baar" *ngIf="step === 4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="confirm-box">
                    <img src="assets/images/mail.png">
                    <h3>Thank you for Booking!</h3>
                    <p>Your booking for the Safari Taj Mahal is confirmed. Please check your email more details.</p>
                    <a href="#">Download PDF</a>
                </div>
            </div>
        </div>
    </div>
</section>